@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #232323;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1000px 50px;
    grid-template-areas: "header"
                         "maingame"
                         "footer";
}

.header{
    font-family: 'Montserrat', sans-serif;

}

.header {
    font-size: 20px;
    grid-area: header;
}

.main{
    background-color: #484646;
    display: flex;
    padding: auto;
    
}

.maingame {
    grid-area: maingame; 
    display: grid;
    grid-template-columns: auto 75px auto;
    grid-template-rows: auto 112.5px 5% 112.5px 5% 112.5px 5% 112.5px auto;
    gap: 10px;
    background-color: #A50113;
    border: 2px solid #FFFBF2;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar1 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    
}

.navbar1 li a {
    transition: all 0.3s ease 0s;
}

.navbar1 li a:hover {
    color: #FFFBF2;
}

.logo {
    align-items: center;
}

.player1deck {
    grid-column: 2;
    grid-row: 2;
    background-color: aqua;
}

.player2deck {
    grid-column: 2;
    grid-row: 8;
    background-color: aqua;
    
}

.player1mat{
    grid-column: 2;
    grid-row: 4;
    background-color: aqua
}

.player2mat{
    grid-column: 2;
    grid-row: 6;
    background-color: aqua;

}


li, a{
    text-decoration: none;
    color: #A50113;
}

@media only screen and (max-width: 768px) {
    .main_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 746px 50px;
        grid-template-areas: "header"
                             "maingame"
                             "footer";
    }


    .navbar1 {
        display: flex;
        flex-direction: column;
    }
    

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }
    
    #imagemain {
        max-width: 100%; 
        max-height: 100%; 
    }
}


